extends layout

block content
  h1= "Add a Book"
  form(name="add-estimation", method="post")
        div.input
            span.label FIRST NAME
            input(type="text", name="first_name")
         div.input
            span.label LAST NAME
            input(type="text", name="last_name")
            div.input
            span.label ADDRESS
            input(type="text", name="address")
            div.input
            span.label PHONE
            input(type="number", name="phone")
            div.input
            span.label DOB
            input(type="date", name="dob")
        div.actions
            input(type="submit", value="add")
