extends layout

block content
  h1= "Add a Book"
  form(name="add-estimation", method="post")
        div.input
            span.label Book Id
            input(type="text", name="id")
         div.input
            span.label Book Name
            input(type="text", name="name")
            div.input
            span.label Book Author
            input(type="text", name="author")
        div.actions
            input(type="submit", value="add")
